<a href="https://colab.research.google.com/github/Pollymoore/DataEngineeringBootcamp/blob/main/SparkRDDs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
pip install pyspark

Collecting pyspark
  Downloading pyspark-3.1.2.tar.gz (212.4 MB)
     |████████████████████████████████| 212.4 MB 68 kB/s
Collecting py4j==0.10.9
  Downloading py4j-0.10.9-py2.py3-none-any.whl (198 kB)
     |████████████████████████████████| 198 kB 48.4 MB/s
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.1.2-py2.py3-none-any.whl size=212880768 sha256=8f7052a92247e0e9ee1071c22ec839873cd7df399beb1f7b061b8e2bf3aebcd3
  Stored in directory: /root/.cache/pip/wheels/a5/0a/c1/9561f6fecb759579a7d863dcd846daaa95f598744e71b02c77
Successfully built pyspark
Installing collected packages: py4j, pyspark
Successfully installed py4j-0.10.9 pyspark-3.1.2

In [84]:
#import modules
from pyspark import SparkContext
sc =SparkContext()

ValueError: ignored

In [85]:
#Creating my RDD- we're creating a list and making this parallelised, using the parallelize method - otherwise this would simply be a list
myRDD = sc.parallelize ([('Polly', 'Data Engineering'), ('Roger', 'Modelling'), ('Tom', 'Data Science'), ('Sam' 'API')])

In [86]:
#Count the number of items in the RDD
myRDD.count()

4

In [87]:
#Read a set number of number of items in the RDD
myRDD.take(3)

[('Polly', 'Data Engineering'),
 ('Roger', 'Modelling'),
 ('Tom', 'Data Science')]

In [94]:
#Can also load data from external sources
myRDDtxtFile = sc.textFile('ManicStreetPreachersLyrics.txt')

In [89]:
#Count the number of items in the RDD text file
myRDDtxtFile.count()

14614

In [90]:
#Read a set number of number of items in the RDD
myRDDtxtFile.take(3)

['"New Art Riot"', '', 'Vintage aromas and vintage ideals']

In [119]:
#Filter an RDD
Polly = myRDD.filter(lambda x: 'Polly'  in x)
PollyFiltered = Polly.collect()
print(PollyFiltered)

[('Roger', 'Modelling'), ('Tom', 'Data Science'), 'SamAPI']

In [105]:
##transformation - going to split our RDD. Need to create a function:

def Func (para):
    para = para.split()
    return para
NewRDD=myRDDtxtFile.map(Func)

In [114]:
NewRDD.take(10)

[['"Motorcycle', 'Emptiness"'],
 [],
 ['Culture', 'sucks', 'down', 'words'],
 ['Itemise', 'loathing', 'and', 'feed', 'yourself', 'smiles'],
 ['Organise', 'your', 'safe', 'tribal', 'war'],
 ['Hurt', 'maim', 'kill', 'and', 'enslave', 'the', 'ghetto'],
 [],
 ['Each', 'day', 'living', 'out', 'a', 'lie'],
 ['Life', 'sold', 'cheaply', 'forever,', 'ever,', 'ever'],
 []]

In [117]:
#Transform dataset into a new RDD so we can see each word in a list
RDDFlat= myRDDtxtFile.flatMap(Func)

In [118]:
RDDFlat.take(100)

['"Motorcycle',
 'Emptiness"',
 'Culture',
 'sucks',
 'down',
 'words',
 'Itemise',
 'loathing',
 'and',
 'feed',
 'yourself',
 'smiles',
 'Organise',
 'your',
 'safe',
 'tribal',
 'war',
 'Hurt',
 'maim',
 'kill',
 'and',
 'enslave',
 'the',
 'ghetto',
 'Each',
 'day',
 'living',
 'out',
 'a',
 'lie',
 'Life',
 'sold',
 'cheaply',
 'forever,',
 'ever,',
 'ever',
 'Under',
 'neon',
 'loneliness',
 'motorcycle',
 'emptiness',
 'Under',
 'neon',
 'loneliness',
 'motorcycle',
 'emptiness',
 'Life',
 'lies',
 'a',
 'slow',
 'suicide',
 'Orthodox',
 'dreams',
 'and',
 'symbolic',
 'myths',
 'From',
 'feudal',
 'serf',
 'to',
 'spender',
 'This',
 'wonderful',
 'world',
 'of',
 'purchase',
 'power',
 'Just',
 'like',
 'lungs',
 'sucking',
 'on',
 'air',
 'Survivals',
 'natural',
 'as',
 'sorrow,',
 'sorrow,',
 'sorrow',
 'Under',
 'neon',
 'loneliness',
 'motorcycle',
 'emptiness',
 'Under',
 'neon',
 'loneliness',
 'motorcycle',
 'emptiness',
 'All',
 'we',
 'want',
 'from',
 'you',
 'are',
 'the',
 'kicks',
 "you've",
 'given',
 'us']

# Spark SQL

In [125]:
#import SQL Modules
from pyspark.sql import SQLContext
sqlContext = SQLContext(sc)
sqlContext

In [196]:
#import a new tab file into an RDD and add this into memory
PLcsv = "PremierLeagueScorers.csv"
PLRawRDD = sc.textFile(PLcsv).cache()
PLRawRDD.take(1)

['"Score Home,Score Away,HomeTeam,AwayTeam"']

In [200]:

#Spltting our data by columns (tabs)
MyRDDcsv = PLRawRDD.map(lambda row: row.split(","))
print(MyRDDcsv.take(100))
print(type(MyRDDcsv))

[['"Score Home', 'Score Away', 'HomeTeam', 'AwayTeam"'], ['"4', '0', 'Man United', 'Leicester"'], ['"0', '2', 'Bournemouth', 'Cardiff"'], ['"4', '0', 'Fulham', 'Crystal Palace"'], ['"2', '3', 'Huddersfield', 'Chelsea"'], ['"1', '2', 'Newcastle', 'Tottenham"'], ['"1', '2', 'Watford', 'Brighton"'], ['"4', '4', 'Wolves', 'Everton"'], ['"0', '3', 'Arsenal', 'Man City"'], ['"2', '2', 'Liverpool', 'West Ham"'], ['"1', '2', 'Southampton', 'Burnley"'], ['"1', '3', 'Cardiff', 'Newcastle"'], ['"3', '0', 'Chelsea', 'Arsenal"'], ['"2', '4', 'Everton', 'Southampton"'], ['"4', '0', 'Leicester', 'Wolves"'], ['"4', '3', 'Tottenham', 'Fulham"'], ['"1', '1', 'West Ham', 'Bournemouth"'], ['"3', '1', 'Brighton', 'Man United"'], ['"0', '1', 'Burnley', 'Watford"'], ['"2', '3', 'Man City', 'Huddersfield"'], ['"1', '0', 'Crystal Palace', 'Liverpool"'], ['"2', '1', 'Arsenal', 'West Ham"'], ['"1', '4', 'Bournemouth', 'Everton"'], ['"3', '4', 'Huddersfield', 'Cardiff"'], ['"1', '0', 'Liverpool', 'Brighton"'], ['"0', '4', 'Southampton', 'Leicester"'], ['"0', '0', 'Wolves', 'Man City"'], ['"2', '3', 'Fulham', 'Burnley"'], ['"2', '3', 'Newcastle', 'Chelsea"'], ['"4', '4', 'Watford', 'Crystal Palace"'], ['"3', '3', 'Man United', 'Tottenham"'], ['"2', '3', 'Brighton', 'Fulham"'], ['"0', '1', 'Chelsea', 'Bournemouth"'], ['"1', '4', 'Crystal Palace', 'Southampton"'], ['"0', '0', 'Everton', 'Huddersfield"'], ['"2', '2', 'Leicester', 'Liverpool"'], ['"0', '2', 'Man City', 'Newcastle"'], ['"1', '3', 'West Ham', 'Wolves"'], ['"4', '2', 'Burnley', 'Man United"'], ['"1', '3', 'Cardiff', 'Arsenal"'], ['"2', '0', 'Watford', 'Tottenham"'], ['"2', '0', 'Bournemouth', 'Leicester"'], ['"2', '2', 'Chelsea', 'Cardiff"'], ['"0', '1', 'Huddersfield', 'Crystal Palace"'], ['"2', '4', 'Man City', 'Fulham"'], ['"3', '3', 'Newcastle', 'Arsenal"'], ['"3', '4', 'Tottenham', 'Liverpool"'], ['"4', '3', 'Watford', 'Man United"'], ['"3', '1', 'Everton', 'West Ham"'], ['"4', '0', 'Wolves', 'Burnley"'], ['"4', '2', 'Southampton', 'Brighton"'], ['"0', '4', 'Brighton', 'Tottenham"'], ['"4', '4', 'Burnley', 'Bournemouth"'], ['"3', '2', 'Cardiff', 'Man City"'], ['"3', '0', 'Crystal Palace', 'Newcastle"'], ['"0', '4', 'Fulham', 'Watford"'], ['"3', '4', 'Leicester', 'Huddersfield"'], ['"3', '4', 'Liverpool', 'Southampton"'], ['"3', '3', 'Man United', 'Wolves"'], ['"4', '0', 'Arsenal', 'Everton"'], ['"4', '0', 'West Ham', 'Chelsea"'], ['"4', '1', 'Arsenal', 'Watford"'], ['"0', '3', 'Chelsea', 'Liverpool"'], ['"0', '2', 'Everton', 'Fulham"'], ['"3', '2', 'Huddersfield', 'Tottenham"'], ['"4', '1', 'Man City', 'Brighton"'], ['"2', '1', 'Newcastle', 'Leicester"'], ['"0', '0', 'West Ham', 'Man United"'], ['"1', '3', 'Wolves', 'Southampton"'], ['"2', '2', 'Cardiff', 'Burnley"'], ['"2', '4', 'Bournemouth', 'Crystal Palace"'], ['"2', '2', 'Brighton', 'West Ham"'], ['"1', '4', 'Burnley', 'Huddersfield"'], ['"4', '0', 'Crystal Palace', 'Wolves"'], ['"4', '0', 'Leicester', 'Everton"'], ['"0', '2', 'Man United', 'Newcastle"'], ['"4', '2', 'Tottenham', 'Cardiff"'], ['"4', '1', 'Watford', 'Bournemouth"'], ['"3', '1', 'Fulham', 'Arsenal"'], ['"4', '0', 'Liverpool', 'Man City"'], ['"0', '1', 'Southampton', 'Chelsea"'], ['"1', '3', 'Bournemouth', 'Southampton"'], ['"1', '0', 'Cardiff', 'Fulham"'], ['"0', '4', 'Chelsea', 'Man United"'], ['"3', '2', 'Huddersfield', 'Liverpool"'], ['"4', '0', 'Man City', 'Burnley"'], ['"2', '4', 'Newcastle', 'Brighton"'], ['"1', '2', 'West Ham', 'Tottenham"'], ['"1', '1', 'Wolves', 'Watford"'], ['"3', '4', 'Everton', 'Crystal Palace"'], ['"1', '1', 'Arsenal', 'Leicester"'], ['"1', '2', 'Brighton', 'Wolves"'], ['"0', '1', 'Fulham', 'Bournemouth"'], ['"0', '1', 'Leicester', 'West Ham"'], ['"1', '3', 'Liverpool', 'Cardiff"'], ['"0', '0', 'Southampton', 'Newcastle"'], ['"3', '3', 'Watford', 'Huddersfield"'], ['"1', '0', 'Burnley', 'Chelsea"'], ['"0', '3', 'Crystal Palace', 'Arsenal"'], ['"1', '4', 'Man United', 'Everton"']]
<class 'pyspark.rdd.PipelinedRDD'>

In [201]:
#Estimate the Column count
len(PLRawRDD.take(1)[0])

41

In [221]:
#take our file and chose the files we want
from pyspark.sql import Row

parsed_rdd = MyRDDcsv.map(lambda r: Row(
    ScoreHome=r[0], 
     ScoreAway=r[1], 
     HomeTeam=r[2], 
     AwayTeam=r[3], 
    )
)
parsed_rdd.take(5)

[Row(ScoreHome='"Score Home', ScoreAway='Score Away', HomeTeam='HomeTeam', AwayTeam='AwayTeam"'),
 Row(ScoreHome='"4', ScoreAway='0', HomeTeam='Man United', AwayTeam='Leicester"'),
 Row(ScoreHome='"0', ScoreAway='2', HomeTeam='Bournemouth', AwayTeam='Cardiff"'),
 Row(ScoreHome='"4', ScoreAway='0', HomeTeam='Fulham', AwayTeam='Crystal Palace"'),
 Row(ScoreHome='"2', ScoreAway='3', HomeTeam='Huddersfield', AwayTeam='Chelsea"')]

In [306]:
dfWithSchema = spark.createDataFrame(parsed_rdd).toDF("ScoreHome", "ScoreAway","HomeTeam", "AwayTeam"  )
dfWithSchema.show()

#df3 = sqlContext.to(parsed_rdd)
#display(df3.head(10))

+-----------+----------+------------+---------------+
|  ScoreHome| ScoreAway|    HomeTeam|       AwayTeam|
+-----------+----------+------------+---------------+
|"Score Home|Score Away|    HomeTeam|      AwayTeam"|
|         "4|         0|  Man United|     Leicester"|
|         "0|         2| Bournemouth|       Cardiff"|
|         "4|         0|      Fulham|Crystal Palace"|
|         "2|         3|Huddersfield|       Chelsea"|
|         "1|         2|   Newcastle|     Tottenham"|
|         "1|         2|     Watford|      Brighton"|
|         "4|         4|      Wolves|       Everton"|
|         "0|         3|     Arsenal|      Man City"|
|         "2|         2|   Liverpool|      West Ham"|
|         "1|         2| Southampton|       Burnley"|
|         "1|         3|     Cardiff|     Newcastle"|
|         "3|         0|     Chelsea|       Arsenal"|
|         "2|         4|     Everton|   Southampton"|
|         "4|         0|   Leicester|        Wolves"|
|         "4|         3|   Tottenham|        Fulham"|
|         "1|         1|    West Ham|   Bournemouth"|
|         "3|         1|    Brighton|    Man United"|
|         "0|         1|     Burnley|       Watford"|
|         "2|         3|    Man City|  Huddersfield"|
+-----------+----------+------------+---------------+
only showing top 20 rows

In [307]:
#Insert this into a temporary table - only accessible in this instance
dfWithSchema.createOrReplaceTempView("Football")

In [305]:
dataFrame=spark.sql("Select * from Football WHERE HomeTeam = 'Cardiff'")
dataFrame.show()

+---------+---------+--------+---------------+
|ScoreHome|ScoreAway|HomeTeam|       AwayTeam|
+---------+---------+--------+---------------+
|       "1|        3| Cardiff|     Newcastle"|
|       "1|        3| Cardiff|       Arsenal"|
|       "3|        2| Cardiff|      Man City"|
|       "2|        2| Cardiff|       Burnley"|
|       "1|        0| Cardiff|        Fulham"|
|       "0|        0| Cardiff|     Leicester"|
|       "4|        3| Cardiff|      Brighton"|
|       "2|        0| Cardiff|        Wolves"|
|       "4|        3| Cardiff|   Southampton"|
|       "4|        1| Cardiff|    Man United"|
|       "2|        1| Cardiff|     Tottenham"|
|       "0|        1| Cardiff|  Huddersfield"|
|       "0|        4| Cardiff|   Bournemouth"|
|       "0|        4| Cardiff|       Watford"|
|       "2|        1| Cardiff|       Everton"|
|       "3|        1| Cardiff|      West Ham"|
|       "2|        1| Cardiff|       Chelsea"|
|       "2|        1| Cardiff|     Liverpool"|
|       "0|        0| Cardiff|Crystal Palace"|
+---------+---------+--------+---------------+